$green: #49aa45;
$titlecolor: #f5bb28;
$seccolor: #cccccc;

*{
    margin: 0;
    padding: 0;
    font-family: 微軟正黑體;
    box-sizing: border-box;
}
nav{
    // 導覽列固定
    position: fixed;
    width: 1920px;
    #box{
        // 導覽列至中對齊+切版
        margin: 59px auto 0;
        width: 1200px;
        display: grid;
        grid-template-columns: 204px 351px 398px 120px 110px;
        
        // link再切版
        #link{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            // 垂直對齊
            align-items: flex-end;

            a{
                font-size: 18pt;
                text-decoration: none;
                color: white;
                // 切版完，再指定內元素對齊外框格線
                &:nth-child(2){
                    text-align: center;
                }
                &:nth-child(3){
                    text-align: right;
                }
            }
        }
        #social{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            // 垂直對齊
            align-items: flex-end;
            
            a{
                // 切版完，再指定內元素對齊外框格線
                &:nth-child(2){
                text-align: right;
            }
            }
        }
    }
}

#banner{
    background-image: url(./img/invalid-name.png);
    width: 100%;
    height: 1280px;
    display: grid;

    #_title{
        margin: 399px auto 0 auto;
    }
}
body{
    background-image: url(./img/paper_texture.png);
    
}

// 內容

// 標題
h1{
    font-size: 32px;
    font-weight: 300;
    letter-spacing: 9.6px;
    text-align: center;
    margin-top: 46px;
}

#news{
    width: 1200px;
    margin: 59px auto 0 auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    text-align: center;

    div{
        width: 380px;
        background-color: #fff;
        margin: px;
        padding: px;
        text-align: center;
    
        h4{
            font-size: 12px;
            font-weight: 300;
            letter-spacing: 3.6px;
            text-align: center;
            color: $green;
            margin-top: 40px;
        }
        h2{
            font-size: 22px;
            font-weight: bold;
            letter-spacing: 6px;
            text-align: center;
            color: #000000;
            margin-top: 27px;
        }
        hr{
            width: 325px;
            margin-left: 25px;
        }

        p{
            font-size: 16px;
            font-weight: 300;
            line-height: 1.88;
            letter-spacing: 4.8px;
            text-align: left;
            color: #333333;
            margin-top: 28px;
            padding-left: 30px;
        }
        img{
            width: 325px;
            height: 325px;
            margin: 31px 0;
        }
    }   


}